/* Purpose of this CSS: It's mostly to do extra styling that bootstrap
doesn't do by default. I try to keep the structure in the .tsx and styling
in the .css. Examples show Bootstrap in .tsx so I will keep the styling there,
only dropping into .css when I need something specific. */

/* Add spacing between cards to make them pop more */
.card-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Fix so long names in dropdown don't overflow into another column when selected */
.preset-dropdown-fix > button {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Breaks rounded corners but allows tooltips to work */
.progress {
  overflow: visible !important;
  height: 8px !important;
}

/* Add back rounded corners which got removed */
.progress-bar:first-child {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.progress-bar:last-child {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

/* Position it and allow it to render */
.instant-tooltip {
  overflow: visible !important;
  position: relative;
}

/* Tooltip for showing what the progress bar segment represents */
.instant-tooltip:hover::after {
  content: attr(data-tooltip);
  overflow: visible !important;
  position: absolute;
  bottom: 50%; /* Positioned below */
  /* Centered to bar */
  left: 50%;
  transform: translateX(-50%);
  background: #212529; /* Something between black and gray */
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap; /* Just in case */
  z-index: 9999;
  pointer-events: none;
}
